In [55]:
import pandas as pd
from statsmodels.tsa.arima.model import ARIMA
from statsmodels.tsa.statespace.sarimax import SARIMAX
import numpy as np
from sklearn.metrics import mean_absolute_percentage_error

In [56]:
# Load the sales data
sales_data = pd.read_csv(r'F:\GUVI\Project\Dominos - Predictive Purchase Order System\Cleaned_DATA\Pizza_sales.csv', index_col=0)
# Load the ingredients data
ingredients_data = pd.read_csv(r'F:\GUVI\Project\Dominos - Predictive Purchase Order System\Cleaned_DATA\ingredients_data.csv', index_col=0)

In [135]:
ingredients_data

,pizza_name_id,pizza_name,pizza_ingredients,Items_Qty_In_Grams
0,bbq_ckn_l,The Barbecue Chicken Pizza,Barbecued Chicken,40.0
1,bbq_ckn_l,The Barbecue Chicken Pizza,Red Peppers,15.0
2,bbq_ckn_l,The Barbecue Chicken Pizza,Green Peppers,20.0
3,bbq_ckn_l,The Barbecue Chicken Pizza,Tomatoes,30.0
4,bbq_ckn_l,The Barbecue Chicken Pizza,Red Onions,60.0
...,...,...,...,...
513,veggie_veg_s,The Vegetables + Vegetables Pizza,Green Peppers,20.0
514,veggie_veg_s,The Vegetables + Vegetables Pizza,Red Onions,20.0
515,veggie_veg_s,The Vegetables + Vegetables Pizza,Zucchini,10.0
516,veggie_veg_s,The Vegetables + Vegetables Pizza,Spinach,15.0
517,veggie_veg_s,The Vegetables + Vegetables Pizza,Garlic,5.0

In [57]:
sales_data.isnull().sum()

pizza_id             0
order_id             0
pizza_name_id        0
quantity             0
order_date           0
order_time           0
unit_price           0
total_price          0
pizza_size           0
pizza_category       0
pizza_ingredients    0
pizza_name           0
dtype: int64

In [58]:
# Convert order_date to datetime
sales_data['order_date'] = pd.to_datetime(sales_data['order_date'], format='mixed')

In [59]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 48620 entries, 0 to 48619
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   pizza_id           48620 non-null  int64
 1   order_id           48620 non-null  int64
 2   pizza_name_id      48620 non-null  object
 3   quantity           48620 non-null  int64
 4   order_date         48620 non-null  datetime64[ns]
 5   order_time         48620 non-null  object
 6   unit_price         48620 non-null  float64
 7   total_price        48620 non-null  float64
 8   pizza_size         48620 non-null  object
 9   pizza_category     48620 non-null  object
 10  pizza_ingredients  48620 non-null  object
 11  pizza_name         48620 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(3), object(6)
memory usage: 4.8+ MB

In [60]:
sales_data.head(5)

,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
0,1,1,hawaiian_m,1,2015-01-01,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza
1,2,2,classic_dlx_m,1,2015-01-01,11:57:40,16.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza
2,3,2,five_cheese_l,1,2015-01-01,11:57:40,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
3,4,2,ital_supr_l,1,2015-01-01,11:57:40,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
4,5,2,mexicana_m,1,2015-01-01,11:57:40,16.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza

In [134]:
sales_data['pizza_name_id'].value_counts()

pizza_name_id
big_meat_s        1811
thai_ckn_l        1365
five_cheese_l     1359
four_cheese_l     1273
classic_dlx_m     1159
                  ...
mexicana_s         160
calabrese_s         99
ckn_alfredo_s       96
green_garden_l      94
the_greek_xxl       28
Name: count, Length: 91, dtype: int64

In [61]:
sales_data['month'] = sales_data['order_date'].dt.month

In [132]:
sales_data.shape

(48620, 13)

In [62]:
sales_data.head(5)

,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name,month
0,1,1,hawaiian_m,1,2015-01-01,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza,1
1,2,2,classic_dlx_m,1,2015-01-01,11:57:40,16.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza,1
2,3,2,five_cheese_l,1,2015-01-01,11:57:40,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza,1
3,4,2,ital_supr_l,1,2015-01-01,11:57:40,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza,1
4,5,2,mexicana_m,1,2015-01-01,11:57:40,16.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza,1

In [63]:
# Aggregate sales across all pizza types for each date
aggregated_sales = sales_data.groupby('order_date')['quantity'].sum().reset_index()

In [64]:
aggregated_sales.set_index("order_date", inplace=True)
aggregated_sales

            quantity
order_date
2015-01-01       162
2015-01-02       191
2015-01-03        99
2015-01-04       135
2015-01-05       154
...              ...
2015-12-27        89
2015-12-28       102
2015-12-29        80
2015-12-30        82
2015-12-31       178

[358 rows x 1 columns]

In [65]:
# Step 2: Split the data
train = aggregated_sales['2015-01-01':'2015-10-31']
test = aggregated_sales['2015-11-01':'2015-12-31']

In [68]:
train

            quantity
order_date
2015-01-01       162
2015-01-02       191
2015-01-03        99
2015-01-04       135
2015-01-05       154
...              ...
2015-10-27       120
2015-10-28       104
2015-10-29       131
2015-10-30       166
2015-10-31       165

[299 rows x 1 columns]

In [69]:
test

            quantity
order_date
2015-11-01       116
2015-11-02       155
2015-11-03       134
2015-11-04       153
2015-11-05       144
2015-11-06       158
2015-11-07       125
2015-11-08       137
2015-11-09       167
2015-11-10       118
2015-11-11       118
2015-11-12       164
2015-11-13       141
2015-11-14       142
2015-11-15       113
2015-11-16       136
2015-11-17       117
2015-11-18       130
2015-11-19       162
2015-11-20       148
2015-11-21       131
2015-11-22        84
2015-11-23       148
2015-11-24       131
2015-11-25       144
2015-11-26       266
2015-11-27       264
2015-11-28       118
2015-11-29       115
2015-11-30       134
2015-12-01       119
2015-12-02       130
2015-12-03       119
2015-12-04       120
2015-12-05       142
2015-12-06       131
2015-12-07       128
2015-12-08       144
2015-12-09       156
2015-12-11       153
2015-12-12       127
2015-12-13       130
2015-12-14       131
2015-12-15       146
2015-12-16       133
2015-12-17       113
2015-12-18       176
2015-12-19       139
2015-12-20       124
2015-12-21       130
2015-12-22       114
2015-12-23       134
2015-12-24       131
2015-12-26        95
2015-12-27        89
2015-12-28       102
2015-12-29        80
2015-12-30        82
2015-12-31       178

In [86]:
def models_result(model_fit):

    # Step 4: Forecast the test set
    test_forecast = model_fit.forecast(steps=len(test))
    mape = mean_absolute_percentage_error(test['quantity'], test_forecast)
    print(f'MAPE: {mape:.5f}')

    # Step 5: Predict next week sales
    next_week_forecast = model_fit.forecast(steps=7)
    next_week_dates = pd.date_range(start='2016-01-01', periods=7)
    
    # Create a DataFrame for the predictions
    predictions = pd.DataFrame({'date': next_week_dates, 'predicted_sales': next_week_forecast})
    predictions.set_index('date', inplace=True)
    print(predictions)

## ARIMA

In [93]:
# Step 3: Fit the ARIMA model
model = ARIMA(train['quantity'], order=(1, 0, 1))  # Parameters can be tuned
ARIMA_model_fit = model.fit()

c:\Users\syeda\AppData\Local\Programs\Python\Python312\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
c:\Users\syeda\AppData\Local\Programs\Python\Python312\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
c:\Users\syeda\AppData\Local\Programs\Python\Python312\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)

In [94]:
models_result(ARIMA_model_fit)

MAPE: 0.16232
            predicted_sales
date
2016-01-01       138.269207
2016-01-02       138.287148
2016-01-03       138.304168
2016-01-04       138.320313
2016-01-05       138.335628
2016-01-06       138.350155
2016-01-07       138.363937

c:\Users\syeda\AppData\Local\Programs\Python\Python312\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:837: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  return get_prediction_index(
c:\Users\syeda\AppData\Local\Programs\Python\Python312\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:837: FutureWarning: No supported index is available. In the next version, calling this method in a model without a supported index will result in an exception.
  return get_prediction_index(
c:\Users\syeda\AppData\Local\Programs\Python\Python312\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:837: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  return get_prediction_index(
c:\Users\syeda\AppData\Local\Programs\Python\Python312\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:837: FutureWarning: No supported index is available. In the next version, calling this method in a model without a supported index will result in an exception.
  return get_prediction_index(

## SARIMA

In [107]:
model = SARIMAX(train['quantity'], order=(1, 0, 1), seasonal_order=(1, 1, 1, 12))
SARIMAX_model_fit = model.fit()

c:\Users\syeda\AppData\Local\Programs\Python\Python312\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
c:\Users\syeda\AppData\Local\Programs\Python\Python312\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)

In [108]:
models_result(SARIMAX_model_fit)

MAPE: 0.16953
            predicted_sales
date
2016-01-01       140.237563
2016-01-02       139.971663
2016-01-03       140.370654
2016-01-04       136.308228
2016-01-05       137.388591
2016-01-06       137.619929
2016-01-07       138.481151

c:\Users\syeda\AppData\Local\Programs\Python\Python312\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:837: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  return get_prediction_index(
c:\Users\syeda\AppData\Local\Programs\Python\Python312\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:837: FutureWarning: No supported index is available. In the next version, calling this method in a model without a supported index will result in an exception.
  return get_prediction_index(
c:\Users\syeda\AppData\Local\Programs\Python\Python312\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:837: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  return get_prediction_index(
c:\Users\syeda\AppData\Local\Programs\Python\Python312\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:837: FutureWarning: No supported index is available. In the next version, calling this method in a model without a supported index will result in an exception.
  return get_prediction_index(

# Differenct Approach

In [136]:
# Aggregate sales across all pizza types for each date
aggregated_sales1 = sales_data.groupby(['order_date','pizza_name_id'])['quantity'].sum().reset_index()

In [138]:
aggregated_sales1.set_index('order_date', inplace=True)

In [139]:
aggregated_sales1

           pizza_name_id  quantity
order_date
2015-01-01     bbq_ckn_l         6
2015-01-01     bbq_ckn_m         4
2015-01-01     bbq_ckn_s         1
2015-01-01    big_meat_s         5
2015-01-01   calabrese_m         1
...                  ...       ...
2015-12-31   the_greek_l         1
2015-12-31  the_greek_xl         1
2015-12-31  veggie_veg_l         4
2015-12-31  veggie_veg_m         2
2015-12-31  veggie_veg_s         4

[22964 rows x 2 columns]

In [140]:
# Get unique pizza types
pizza_types = aggregated_sales1['pizza_name_id'].unique()

In [141]:
pizza_types

array(['bbq_ckn_l', 'bbq_ckn_m', 'bbq_ckn_s', 'big_meat_s', 'calabrese_m',
       'cali_ckn_l', 'cali_ckn_m', 'cali_ckn_s', 'ckn_alfredo_m',
       'ckn_alfredo_s', 'ckn_pesto_l', 'ckn_pesto_m', 'classic_dlx_l',
       'classic_dlx_m', 'classic_dlx_s', 'five_cheese_l', 'four_cheese_l',
       'four_cheese_m', 'green_garden_l', 'green_garden_m',
       'green_garden_s', 'hawaiian_l', 'hawaiian_m', 'hawaiian_s',
       'ital_cpcllo_l', 'ital_cpcllo_m', 'ital_supr_l', 'ital_supr_m',
       'ital_supr_s', 'ital_veggie_s', 'mediterraneo_l', 'mediterraneo_m',
       'mexicana_l', 'mexicana_m', 'mexicana_s', 'napolitana_l',
       'napolitana_s', 'pep_msh_pep_l', 'pep_msh_pep_m', 'pep_msh_pep_s',
       'pepperoni_l', 'pepperoni_m', 'pepperoni_s', 'peppr_salami_l',
       'peppr_salami_m', 'peppr_salami_s', 'prsc_argla_l', 'prsc_argla_m',
       'prsc_argla_s', 'sicilian_l', 'sicilian_m', 'sicilian_s',
       'soppressata_l', 'southw_ckn_l', 'southw_ckn_m', 'southw_ckn_s',
       'spicy_ital_l', 'spicy_ital_s', 'spin_pesto_l', 'spin_pesto_s',
       'spinach_fet_l', 'spinach_supr_m', 'spinach_supr_s', 'thai_ckn_l',
       'thai_ckn_m', 'the_greek_s', 'the_greek_xl', 'veggie_veg_l',
       'veggie_veg_s', 'brie_carre_s', 'calabrese_l', 'ckn_alfredo_l',
       'ckn_pesto_s', 'ital_cpcllo_s', 'ital_veggie_m', 'napolitana_m',
       'soppressata_m', 'spicy_ital_m', 'spinach_fet_m', 'spinach_fet_s',
       'spinach_supr_l', 'thai_ckn_s', 'the_greek_l', 'the_greek_m',
       'spin_pesto_m', 'veggie_veg_m', 'mediterraneo_s', 'soppressata_s',
       'calabrese_s', 'ital_veggie_l', 'the_greek_xxl'], dtype=object)

In [142]:
# Store predictions
forecast_results = {}

In [143]:
for pizza_type in pizza_types:
    # Filter data for each pizza type
    pizza_data = aggregated_sales1[aggregated_sales1['pizza_name_id'] == pizza_type].resample('D').sum()

    print(pizza_data)
    
    # Fit SARIMA model
    model = SARIMAX(pizza_data['quantity'], order=(1, 1, 1), seasonal_order=(1, 1, 1, 7))
    model_fit = model.fit(disp=False)
    
    # Forecast the next 7 days
    forecast = model_fit.forecast(steps=7)
    
    # Store the forecast in the results dictionary
    forecast_results[pizza_type] = forecast

           pizza_name_id  quantity
order_date
2015-01-01     bbq_ckn_l         6
2015-01-02     bbq_ckn_l         4
2015-01-03     bbq_ckn_l         2
2015-01-04             0         0
2015-01-05     bbq_ckn_l         2
...                  ...       ...
2015-12-27     bbq_ckn_l         1
2015-12-28             0         0
2015-12-29     bbq_ckn_l         1
2015-12-30     bbq_ckn_l         1
2015-12-31     bbq_ckn_l         5

[365 rows x 2 columns]
           pizza_name_id  quantity
order_date
2015-01-01     bbq_ckn_m         4
2015-01-02     bbq_ckn_m         7
2015-01-03             0         0
2015-01-04     bbq_ckn_m         2
2015-01-05     bbq_ckn_m         2
...                  ...       ...
2015-12-27     bbq_ckn_m         3
2015-12-28     bbq_ckn_m         1
2015-12-29     bbq_ckn_m         3
2015-12-30     bbq_ckn_m         4
2015-12-31     bbq_ckn_m         4

[365 rows x 2 columns]
           pizza_name_id  quantity
order_date
2015-01-01     bbq_ckn_s         1
2015-01-02     bbq_ckn_s         1
2015-01-03             0         0
2015-01-04             0         0
2015-01-05     bbq_ckn_s         2
...                  ...       ...
2015-12-27             0         0
2015-12-28     bbq_ckn_s         1
2015-12-29             0         0
2015-12-30     bbq_ckn_s         1
2015-12-31     bbq_ckn_s         1

[365 rows x 2 columns]
           pizza_name_id  quantity
order_date
2015-01-01    big_meat_s         5
2015-01-02    big_meat_s         9
2015-01-03    big_meat_s         3
2015-01-04    big_meat_s         3
2015-01-05    big_meat_s         1
...                  ...       ...
2015-12-27    big_meat_s         5
2015-12-28    big_meat_s         3
2015-12-29    big_meat_s         6
2015-12-30    big_meat_s         3
2015-12-31    big_meat_s         6

[365 rows x 2 columns]
           pizza_name_id  quantity
order_date
2015-01-01   calabrese_m         1
2015-01-02   calabrese_m         5
2015-01-03   calabrese_m         1
2015-01-04   calabrese_m         1
2015-01-05   calabrese_m         2
...                  ...       ...
2015-12-27   calabrese_m         1
2015-12-28   calabrese_m         1
2015-12-29             0         0
2015-12-30             0         0
2015-12-31   calabrese_m         1

[365 rows x 2 columns]
           pizza_name_id  quantity
order_date
2015-01-01    cali_ckn_l         2
2015-01-02    cali_ckn_l         4
2015-01-03    cali_ckn_l         1
2015-01-04    cali_ckn_l         2
2015-01-05    cali_ckn_l         5
...                  ...       ...
2015-12-27    cali_ckn_l         2
2015-12-28    cali_ckn_l         2
2015-12-29    cali_ckn_l         1
2015-12-30    cali_ckn_l         3
2015-12-31    cali_ckn_l         2

[365 rows x 2 columns]
           pizza_name_id  quantity
order_date
2015-01-01    cali_ckn_m         1
2015-01-02    cali_ckn_m         9
2015-01-03    cali_ckn_m         4
2015-01-04    cali_ckn_m         1
2015-01-05    cali_ckn_m         5
...                  ...       ...
2015-12-27    cali_ckn_m         1
2015-12-28    cali_ckn_m         1
2015-12-29    cali_ckn_m         4
2015-12-30    cali_ckn_m         2
2015-12-31    cali_ckn_m         1

[365 rows x 2 columns]
           pizza_name_id  quantity
order_date
2015-01-01    cali_ckn_s         1
2015-01-02    cali_ckn_s         2
2015-01-03    cali_ckn_s         1
2015-01-04             0         0
2015-01-05    cali_ckn_s         1
...                  ...       ...
2015-12-27             0         0
2015-12-28    cali_ckn_s         2
2015-12-29    cali_ckn_s         1
2015-12-30    cali_ckn_s         2
2015-12-31    cali_ckn_s         4

[365 rows x 2 columns]
            pizza_name_id  quantity
order_date
2015-01-01  ckn_alfredo_m         1
2015-01-02  ckn_alfredo_m         1
2015-01-03              0         0
2015-01-04  ckn_alfredo_m         2
2015-01-05  ckn_alfredo_m         1
...                   ...       ...
2015-12-27              0         0
2015-12-28  ckn_alfredo_m         1
2015-12-29  ckn_alfredo_m         1
2015-12-30  ckn_alfredo_m         1
2015-12-31  ckn_alfredo_m         4

[365 rows x 2 columns]
            pizza_name_id  quantity
order_date
2015-01-01  ckn_alfredo_s         1
2015-01-02              0         0
2015-01-03              0         0
2015-01-04  ckn_alfredo_s         1
2015-01-05              0         0
...                   ...       ...
2015-12-14              0         0
2015-12-15  ckn_alfredo_s         1
2015-12-16  ckn_alfredo_s         1
2015-12-17              0         0
2015-12-18  ckn_alfredo_s         1

[352 rows x 2 columns]
           pizza_name_id  quantity
order_date
2015-01-01   ckn_pesto_l         3
2015-01-02   ckn_pesto_l         1
2015-01-03   ckn_pesto_l         1
2015-01-04   ckn_pesto_l         1
2015-01-05   ckn_pesto_l         3
...                  ...       ...
2015-12-27   ckn_pesto_l         1
2015-12-28             0         0
2015-12-29             0         0
2015-12-30             0         0
2015-12-31   ckn_pesto_l         1

[365 rows x 2 columns]
           pizza_name_id  quantity
order_date
2015-01-01   ckn_pesto_m         1
2015-01-02             0         0
2015-01-03             0         0
2015-01-04   ckn_pesto_m         1
2015-01-05   ckn_pesto_m         2
...                  ...       ...
2015-12-27   ckn_pesto_m         1
2015-12-28   ckn_pesto_m         1
2015-12-29   ckn_pesto_m         1
2015-12-30             0         0
2015-12-31   ckn_pesto_m         3

[365 rows x 2 columns]
            pizza_name_id  quantity
order_date
2015-01-01  classic_dlx_l         1
2015-01-02  classic_dlx_l         2
2015-01-03  classic_dlx_l         1
2015-01-04  classic_dlx_l         2
2015-01-05  classic_dlx_l         3
...                   ...       ...
2015-12-27              0         0
2015-12-28  classic_dlx_l         2
2015-12-29  classic_dlx_l         1
2015-12-30  classic_dlx_l         1
2015-12-31  classic_dlx_l         2

[365 rows x 2 columns]
            pizza_name_id  quantity
order_date
2015-01-01  classic_dlx_m         7
2015-01-02  classic_dlx_m         7
2015-01-03  classic_dlx_m         1
2015-01-04  classic_dlx_m         3
2015-01-05  classic_dlx_m         4
...                   ...       ...
2015-12-27  classic_dlx_m         6
2015-12-28  classic_dlx_m         3
2015-12-29  classic_dlx_m         1
2015-12-30  classic_dlx_m         3
2015-12-31  classic_dlx_m         5

[365 rows x 2 columns]
            pizza_name_id  quantity
order_date
2015-01-01  classic_dlx_s         2
2015-01-02  classic_dlx_s         4
2015-01-03  classic_dlx_s         2
2015-01-04  classic_dlx_s         3
2015-01-05  classic_dlx_s         2
...                   ...       ...
2015-12-27  classic_dlx_s         2
2015-12-28  classic_dlx_s         4
2015-12-29  classic_dlx_s         1
2015-12-30              0         0
2015-12-31  classic_dlx_s         3

[365 rows x 2 columns]
            pizza_name_id  quantity
order_date
2015-01-01  five_cheese_l         7
2015-01-02  five_cheese_l         5
2015-01-03  five_cheese_l         5
2015-01-04  five_cheese_l         7
2015-01-05  five_cheese_l         6
...                   ...       ...
2015-12-27  five_cheese_l         2
2015-12-28  five_cheese_l         2
2015-12-29  five_cheese_l         3
2015-12-30  five_cheese_l         1
2015-12-31  five_cheese_l         5

[365 rows x 2 columns]
            pizza_name_id  quantity
order_date
2015-01-01  four_cheese_l         3
2015-01-02  four_cheese_l         5
2015-01-03  four_cheese_l         2
2015-01-04  four_cheese_l         3
2015-01-05  four_cheese_l         4
...                   ...       ...
2015-12-27  four_cheese_l         3
2015-12-28  four_cheese_l         4
2015-12-29  four_cheese_l         3
2015-12-30  four_cheese_l         4
2015-12-31  four_cheese_l         6

[365 rows x 2 columns]
            pizza_name_id  quantity
order_date
2015-01-01  four_cheese_m         3
2015-01-02  four_cheese_m         1
2015-01-03  four_cheese_m         2
2015-01-04  four_cheese_m         3
2015-01-05              0         0
...                   ...       ...
2015-12-27  four_cheese_m         1
2015-12-28              0         0
2015-12-29              0         0
2015-12-30  four_cheese_m         1
2015-12-31  four_cheese_m         3

[365 rows x 2 columns]
             pizza_name_id  quantity
order_date
2015-01-01  green_garden_l         1
2015-01-02               0         0
2015-01-03               0         0
2015-01-04               0         0
2015-01-05               0         0
...                    ...       ...
2015-12-22  green_garden_l         2
2015-12-23               0         0
2015-12-24  green_garden_l         1
2015-12-25               0         0
2015-12-26  green_garden_l         1

[360 rows x 2 columns]
             pizza_name_id  quantity
order_date
2015-01-01  green_garden_m         1
2015-01-02  green_garden_m         1
2015-01-03               0         0
2015-01-04  green_garden_m         1
2015-01-05               0         0
...                    ...       ...
2015-12-27               0         0
2015-12-28  green_garden_m         1
2015-12-29               0         0
2015-12-30               0         0
2015-12-31  green_garden_m         1

[365 rows x 2 columns]
             pizza_name_id  quantity
order_date
2015-01-01  green_garden_s         5
2015-01-02  green_garden_s         2
2015-01-03  green_garden_s         3
2015-01-04  green_garden_s         3
2015-01-05  green_garden_s         1
...                    ...       ...
2015-12-27  green_garden_s         1
2015-12-28  green_garden_s         2
2015-12-29  green_garden_s         1
2015-12-30  green_garden_s         2
2015-12-31  green_garden_s         1

[365 rows x 2 columns]
           pizza_name_id  quantity
order_date
2015-01-01    hawaiian_l         1
2015-01-02    hawaiian_l         2
2015-01-03    hawaiian_l         2
2015-01-04    hawaiian_l         3
2015-01-05    hawaiian_l         3
...                  ...       ...
2015-12-27    hawaiian_l         1
2015-12-28    hawaiian_l         1
2015-12-29    hawaiian_l         2
2015-12-30    hawaiian_l         1
2015-12-31    hawaiian_l         2

[365 rows x 2 columns]
           pizza_name_id  quantity
order_date
2015-01-01    hawaiian_m         1
2015-01-02    hawaiian_m         1
2015-01-03             0         0
2015-01-04    hawaiian_m         1
2015-01-05    hawaiian_m         2
...                  ...       ...
2015-12-24    hawaiian_m         1
2015-12-25             0         0
2015-12-26    hawaiian_m         1
2015-12-27    hawaiian_m         1
2015-12-28    hawaiian_m         3

[362 rows x 2 columns]
           pizza_name_id  quantity
order_date
2015-01-01    hawaiian_s         2
2015-01-02    hawaiian_s         4
2015-01-03    hawaiian_s         4
2015-01-04    hawaiian_s         2
2015-01-05    hawaiian_s         2
...                  ...       ...
2015-12-27    hawaiian_s         3
2015-12-28    hawaiian_s         3
2015-12-29    hawaiian_s         2
2015-12-30    hawaiian_s         4
2015-12-31    hawaiian_s         2

[365 rows x 2 columns]
            pizza_name_id  quantity
order_date
2015-01-01  ital_cpcllo_l         5
2015-01-02  ital_cpcllo_l         2
2015-01-03  ital_cpcllo_l         1
2015-01-04  ital_cpcllo_l         1
2015-01-05  ital_cpcllo_l         2
...                   ...       ...
2015-12-27  ital_cpcllo_l         1
2015-12-28  ital_cpcllo_l         1
2015-12-29  ital_cpcllo_l         1
2015-12-30              0         0
2015-12-31  ital_cpcllo_l         1

[365 rows x 2 columns]
            pizza_name_id  quantity
order_date
2015-01-01  ital_cpcllo_m         3
2015-01-02  ital_cpcllo_m         2
2015-01-03              0         0
2015-01-04  ital_cpcllo_m         1
2015-01-05  ital_cpcllo_m         2
...                   ...       ...
2015-12-27  ital_cpcllo_m         1
2015-12-28  ital_cpcllo_m         3
2015-12-29  ital_cpcllo_m         2
2015-12-30  ital_cpcllo_m         2
2015-12-31  ital_cpcllo_m         4

[365 rows x 2 columns]
           pizza_name_id  quantity
order_date
2015-01-01   ital_supr_l         6
2015-01-02   ital_supr_l         5
2015-01-03             0         0
2015-01-04   ital_supr_l         1
2015-01-05   ital_supr_l         2
...                  ...       ...
2015-12-27   ital_supr_l         1
2015-12-28   ital_supr_l         3
2015-12-29   ital_supr_l         1
2015-12-30   ital_supr_l         1
2015-12-31   ital_supr_l         2

[365 rows x 2 columns]
           pizza_name_id  quantity
order_date
2015-01-01   ital_supr_m         8
2015-01-02   ital_supr_m         3
2015-01-03   ital_supr_m         4
2015-01-04   ital_supr_m         1
2015-01-05   ital_supr_m         2
...                  ...       ...
2015-12-27             0         0
2015-12-28             0         0
2015-12-29   ital_supr_m         2
2015-12-30   ital_supr_m         2
2015-12-31   ital_supr_m         4

[365 rows x 2 columns]
           pizza_name_id  quantity
order_date
2015-01-01   ital_supr_s         1
2015-01-02             0         0
2015-01-03             0         0
2015-01-04             0         0
2015-01-05   ital_supr_s         1
...                  ...       ...
2015-12-26             0         0
2015-12-27   ital_supr_s         1
2015-12-28             0         0
2015-12-29             0         0
2015-12-30   ital_supr_s         1

[364 rows x 2 columns]
            pizza_name_id  quantity
order_date
2015-01-01  ital_veggie_s         2
2015-01-02  ital_veggie_s         2
2015-01-03  ital_veggie_s         1
2015-01-04              0         0
2015-01-05              0         0
...                   ...       ...
2015-12-26              0         0
2015-12-27              0         0
2015-12-28  ital_veggie_s         1
2015-12-29              0         0
2015-12-30  ital_veggie_s         1

[364 rows x 2 columns]
             pizza_name_id  quantity
order_date
2015-01-01  mediterraneo_l         1
2015-01-02               0         0
2015-01-03  mediterraneo_l         3
2015-01-04               0         0
2015-01-05  mediterraneo_l         2
...                    ...       ...
2015-12-26               0         0
2015-12-27               0         0
2015-12-28               0         0
2015-12-29               0         0
2015-12-30  mediterraneo_l         1

[364 rows x 2 columns]
             pizza_name_id  quantity
order_date
2015-01-01  mediterraneo_m         2
2015-01-02               0         0
2015-01-03               0         0
2015-01-04               0         0
2015-01-05  mediterraneo_m         2
...                    ...       ...
2015-12-27               0         0
2015-12-28               0         0
2015-12-29  mediterraneo_m         1
2015-12-30               0         0
2015-12-31  mediterraneo_m         3

[365 rows x 2 columns]
           pizza_name_id  quantity
order_date
2015-01-01    mexicana_l         6
2015-01-02    mexicana_l         4
2015-01-03             0         0
2015-01-04    mexicana_l         2
2015-01-05    mexicana_l         2
...                  ...       ...
2015-12-27    mexicana_l         1
2015-12-28    mexicana_l         1
2015-12-29             0         0
2015-12-30    mexicana_l         2
2015-12-31    mexicana_l         4

[365 rows x 2 columns]
           pizza_name_id  quantity
order_date
2015-01-01    mexicana_m         2
2015-01-02    mexicana_m         1
2015-01-03    mexicana_m         1
2015-01-04             0         0
2015-01-05             0         0
...                  ...       ...
2015-12-27    mexicana_m         1
2015-12-28    mexicana_m         1
2015-12-29             0         0
2015-12-30             0         0
2015-12-31    mexicana_m         3

[365 rows x 2 columns]
           pizza_name_id  quantity
order_date
2015-01-01    mexicana_s         1
2015-01-02    mexicana_s         1
2015-01-03             0         0
2015-01-04             0         0
2015-01-05             0         0
...                  ...       ...
2015-12-23    mexicana_s         1
2015-12-24             0         0
2015-12-25             0         0
2015-12-26             0         0
2015-12-27    mexicana_s         1

[361 rows x 2 columns]
           pizza_name_id  quantity
order_date
2015-01-01  napolitana_l         1
2015-01-02  napolitana_l         2
2015-01-03             0         0
2015-01-04  napolitana_l         1
2015-01-05             0         0
...                  ...       ...
2015-12-27  napolitana_l         1
2015-12-28  napolitana_l         1
2015-12-29  napolitana_l         3
2015-12-30  napolitana_l         1
2015-12-31  napolitana_l         2

[365 rows x 2 columns]
           pizza_name_id  quantity
order_date
2015-01-01  napolitana_s         1
2015-01-02  napolitana_s         1
2015-01-03             0         0
2015-01-04  napolitana_s         5
2015-01-05  napolitana_s         1
...                  ...       ...
2015-12-27  napolitana_s         2
2015-12-28  napolitana_s         2
2015-12-29  napolitana_s         1
2015-12-30             0         0
2015-12-31  napolitana_s         4

[365 rows x 2 columns]
            pizza_name_id  quantity
order_date
2015-01-01  pep_msh_pep_l         2
2015-01-02  pep_msh_pep_l         1
2015-01-03  pep_msh_pep_l         1
2015-01-04              0         0
2015-01-05  pep_msh_pep_l         2
...                   ...       ...
2015-12-27              0         0
2015-12-28              0         0
2015-12-29  pep_msh_pep_l         2
2015-12-30  pep_msh_pep_l         2
2015-12-31  pep_msh_pep_l         1

[365 rows x 2 columns]
            pizza_name_id  quantity
order_date
2015-01-01  pep_msh_pep_m         1
2015-01-02              0         0
2015-01-03              0         0
2015-01-04              0         0
2015-01-05              0         0
...                   ...       ...
2015-12-27  pep_msh_pep_m         1
2015-12-28  pep_msh_pep_m         1
2015-12-29              0         0
2015-12-30              0         0
2015-12-31  pep_msh_pep_m         3

[365 rows x 2 columns]
            pizza_name_id  quantity
order_date
2015-01-01  pep_msh_pep_s         3
2015-01-02  pep_msh_pep_s         2
2015-01-03  pep_msh_pep_s         1
2015-01-04  pep_msh_pep_s         2
2015-01-05  pep_msh_pep_s         2
...                   ...       ...
2015-12-27  pep_msh_pep_s         1
2015-12-28  pep_msh_pep_s         1
2015-12-29              0         0
2015-12-30              0         0
2015-12-31  pep_msh_pep_s         1

[365 rows x 2 columns]
           pizza_name_id  quantity
order_date
2015-01-01   pepperoni_l         2
2015-01-02             0         0
2015-01-03   pepperoni_l         3
2015-01-04   pepperoni_l         4
2015-01-05   pepperoni_l         3
...                  ...       ...
2015-12-27             0         0
2015-12-28   pepperoni_l         2
2015-12-29   pepperoni_l         1
2015-12-30   pepperoni_l         2
2015-12-31   pepperoni_l         3

[365 rows x 2 columns]
           pizza_name_id  quantity
order_date
2015-01-01   pepperoni_m         3
2015-01-02   pepperoni_m         3
2015-01-03   pepperoni_m         3
2015-01-04   pepperoni_m         2
2015-01-05   pepperoni_m         4
...                  ...       ...
2015-12-27   pepperoni_m         1
2015-12-28   pepperoni_m         1
2015-12-29   pepperoni_m         1
2015-12-30   pepperoni_m         1
2015-12-31   pepperoni_m         4

[365 rows x 2 columns]
           pizza_name_id  quantity
order_date
2015-01-01   pepperoni_s         1
2015-01-02   pepperoni_s         7
2015-01-03   pepperoni_s         2
2015-01-04   pepperoni_s         3
2015-01-05   pepperoni_s         3
...                  ...       ...
2015-12-27   pepperoni_s         1
2015-12-28   pepperoni_s         1
2015-12-29   pepperoni_s         3
2015-12-30             0         0
2015-12-31   pepperoni_s         3

[365 rows x 2 columns]
             pizza_name_id  quantity
order_date
2015-01-01  peppr_salami_l         1
2015-01-02  peppr_salami_l         3

In [144]:
# Combine results into a DataFrame for easier viewing
forecast_df = pd.DataFrame(forecast_results)
forecast_df

,bbq_ckn_l,bbq_ckn_m,bbq_ckn_s,big_meat_s,calabrese_m,cali_ckn_l,cali_ckn_m,cali_ckn_s,ckn_alfredo_m,ckn_alfredo_s,...,thai_ckn_s,the_greek_l,the_greek_m,spin_pesto_m,veggie_veg_m,mediterraneo_s,soppressata_s,calabrese_s,ital_veggie_l,the_greek_xxl
2015-12-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.281061,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-12-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.157433,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.262340,NaN,NaN
2015-12-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.292006,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.360573,NaN,0.075699
2015-12-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.299372,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.316079,NaN,0.125935
2015-12-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.359931,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.358349,NaN,0.040552
2015-12-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.266492,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.316674,NaN,0.061932
2015-12-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.273708,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.170057,NaN,0.040830
2015-12-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.316842,NaN,0.104143
2015-12-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.128474
2015-12-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-12-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-12-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.479855,NaN,0.829669,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-01,2.649814,3.296699,1.262995,5.312510,1.687871,2.878040,2.839925,1.451822,1.895375,NaN,...,1.488097,0.855560,0.558114,0.829596,1.842207,1.107398,0.885563,NaN,0.651123,NaN
2016-01-02,2.841089,2.246649,1.387982,5.478080,1.568092,2.502672,2.511597,1.152606,1.911547,NaN,...,1.299261,0.905255,0.658071,1.016937,1.953267,1.014085,0.638954,NaN,0.436292,NaN
2016-01-03,1.901118,2.131645,0.993918,4.592833,1.282037,2.350959,1.857679,0.994742,1.275802,NaN,...,1.140857,0.577841,0.839116,0.816462,1.423841,0.667449,0.448288,NaN,0.534860,NaN
2016-01-04,1.924366,2.400938,1.173487,4.773247,1.703458,2.350103,2.278032,1.345737,1.657389,NaN,...,1.419105,0.515030,0.727013,0.796954,1.536478,1.175876,0.822027,NaN,0.486269,NaN
2016-01-05,2.025792,2.379998,1.481845,4.873167,1.450628,2.541881,1.788506,1.285663,1.642403,NaN,...,1.381251,0.498710,0.618518,0.771223,1.430130,0.990107,0.822144,NaN,0.599837,NaN
2016-01-06,2.088279,2.535431,1.116579,4.926684,1.891789,2.726108,1.850309,1.326581,1.674223,NaN,...,0.850762,0.651518,0.707814,0.661448,1.768227,0.932297,0.745113,NaN,0.541760,NaN
2016-01-07,2.765381,2.555358,1.387432,5.009378,1.556889,2.535865,2.440166,1.514710,2.174384,NaN,...,NaN,0.792916,NaN,0.758239,1.855909,0.671147,0.796806,NaN,0.654822,NaN

In [149]:
aggregated_sales2 = aggregated_sales1.copy()

In [151]:
aggregated_sales2.reset_index(inplace=True)
aggregated_sales2

      order_date pizza_name_id  quantity
0     2015-01-01     bbq_ckn_l         6
1     2015-01-01     bbq_ckn_m         4
2     2015-01-01     bbq_ckn_s         1
3     2015-01-01    big_meat_s         5
4     2015-01-01   calabrese_m         1
...          ...           ...       ...
22959 2015-12-31   the_greek_l         1
22960 2015-12-31  the_greek_xl         1
22961 2015-12-31  veggie_veg_l         4
22962 2015-12-31  veggie_veg_m         2
22963 2015-12-31  veggie_veg_s         4

[22964 rows x 3 columns]

In [175]:
from prophet import Prophet

# Prepare forecast storage
forecast_results = {}

# Loop over each pizza type
for pizza_type in pizza_types:
    # Filter data for each pizza type
    pizza_data = aggregated_sales2[aggregated_sales2['pizza_name_id'] == pizza_type][['order_date', 'quantity']]
    print(pizza_data)


    # Rename columns to match Prophet's expected format
    pizza_data = pizza_data.rename(columns={'order_date': 'ds', 'quantity': 'y'})
    
    # Fit Prophet model
    model = Prophet()
    model.fit(pizza_data)
    
    # Forecast the next 7 days
    future = model.make_future_dataframe(periods=7)

    forecast = model.predict(future)
    
    # Store forecasted quantities
    forecast_results[pizza_type] = forecast[['ds', 'yhat']].tail(7).set_index('ds')

# Combine forecast results
forecast_df = pd.concat(forecast_results, axis=1)
forecast_df.columns = forecast_df.columns.droplevel(1)  # Remove multi-index for clarity

16:49:57 - cmdstanpy - INFO - Chain [1] start processing
16:49:57 - cmdstanpy - INFO - Chain [1] done processing

      order_date  quantity
0     2015-01-01         6
69    2015-01-02         4
141   2015-01-03         2
255   2015-01-05         2
327   2015-01-06         1
...          ...       ...
22624 2015-12-26         3
22678 2015-12-27         1
22797 2015-12-29         1
22845 2015-12-30         1
22894 2015-12-31         5

[329 rows x 2 columns]
      order_date  quantity
1     2015-01-01         4
70    2015-01-02         7
194   2015-01-04         2
256   2015-01-05         2
328   2015-01-06         8
...          ...       ...
22679 2015-12-27         3
22733 2015-12-28         1
22798 2015-12-29         3
22846 2015-12-30         4
22895 2015-12-31         4

[333 rows x 2 columns]

16:49:57 - cmdstanpy - INFO - Chain [1] start processing
16:49:57 - cmdstanpy - INFO - Chain [1] done processing
16:49:57 - cmdstanpy - INFO - Chain [1] start processing
16:49:57 - cmdstanpy - INFO - Chain [1] done processing

      order_date  quantity
2     2015-01-01         1
71    2015-01-02         1
257   2015-01-05         2
329   2015-01-06         5
533   2015-01-09         3
...          ...       ...
22562 2015-12-24         1
22625 2015-12-26         2
22734 2015-12-28         1
22847 2015-12-30         1
22896 2015-12-31         1

[260 rows x 2 columns]
      order_date  quantity
3     2015-01-01         5
72    2015-01-02         9
142   2015-01-03         3
195   2015-01-04         3
258   2015-01-05         1
...          ...       ...
22680 2015-12-27         5
22735 2015-12-28         3
22799 2015-12-29         6
22848 2015-12-30         3
22897 2015-12-31         6

[357 rows x 2 columns]

16:49:57 - cmdstanpy - INFO - Chain [1] start processing
16:49:57 - cmdstanpy - INFO - Chain [1] done processing
16:49:58 - cmdstanpy - INFO - Chain [1] start processing
16:49:58 - cmdstanpy - INFO - Chain [1] done processing

      order_date  quantity
4     2015-01-01         1
75    2015-01-02         5
144   2015-01-03         1
197   2015-01-04         1
261   2015-01-05         2
...          ...       ...
22564 2015-12-24         3
22629 2015-12-26         1
22682 2015-12-27         1
22737 2015-12-28         1
22900 2015-12-31         1

[288 rows x 2 columns]
      order_date  quantity
5     2015-01-01         2
76    2015-01-02         4
145   2015-01-03         1
198   2015-01-04         2
263   2015-01-05         5
...          ...       ...
22683 2015-12-27         2
22738 2015-12-28         2
22802 2015-12-29         1
22849 2015-12-30         3
22901 2015-12-31         2

[332 rows x 2 columns]

16:49:58 - cmdstanpy - INFO - Chain [1] start processing
16:49:58 - cmdstanpy - INFO - Chain [1] done processing
16:49:58 - cmdstanpy - INFO - Chain [1] start processing
16:49:58 - cmdstanpy - INFO - Chain [1] done processing

      order_date  quantity
6     2015-01-01         1
77    2015-01-02         9
146   2015-01-03         4
199   2015-01-04         1
264   2015-01-05         5
...          ...       ...
22684 2015-12-27         1
22739 2015-12-28         1
22803 2015-12-29         4
22850 2015-12-30         2
22902 2015-12-31         1

[332 rows x 2 columns]
      order_date  quantity
7     2015-01-01         1
78    2015-01-02         2
147   2015-01-03         1
265   2015-01-05         1
337   2015-01-06         2
...          ...       ...
22567 2015-12-24         2
22740 2015-12-28         2
22804 2015-12-29         1
22851 2015-12-30         2
22903 2015-12-31         4

[279 rows x 2 columns]

16:49:58 - cmdstanpy - INFO - Chain [1] start processing
16:49:58 - cmdstanpy - INFO - Chain [1] done processing
16:49:58 - cmdstanpy - INFO - Chain [1] start processing
16:49:58 - cmdstanpy - INFO - Chain [1] done processing

      order_date  quantity
8     2015-01-01         1
80    2015-01-02         1
200   2015-01-04         2
267   2015-01-05         1
338   2015-01-06         2
...          ...       ...
22632 2015-12-26         1
22742 2015-12-28         1
22805 2015-12-29         1
22852 2015-12-30         1
22904 2015-12-31         4

[307 rows x 2 columns]
      order_date  quantity
9     2015-01-01         1
201   2015-01-04         1
472   2015-01-08         1
859   2015-01-14         1
919   2015-01-15         1
...          ...       ...
21716 2015-12-11         1
21847 2015-12-13         1
21980 2015-12-15         1
22051 2015-12-16         1
22180 2015-12-18         1

[84 rows x 2 columns]

16:49:58 - cmdstanpy - INFO - Chain [1] start processing
16:49:59 - cmdstanpy - INFO - Chain [1] done processing
16:49:59 - cmdstanpy - INFO - Chain [1] start processing
16:49:59 - cmdstanpy - INFO - Chain [1] done processing

      order_date  quantity
10    2015-01-01         3
81    2015-01-02         1
148   2015-01-03         1
202   2015-01-04         1
268   2015-01-05         3
...          ...       ...
22504 2015-12-23         1
22569 2015-12-24         1
22633 2015-12-26         1
22685 2015-12-27         1
22905 2015-12-31         1

[238 rows x 2 columns]
      order_date  quantity
11    2015-01-01         1
203   2015-01-04         1
269   2015-01-05         2
405   2015-01-07         1
474   2015-01-08         2
...          ...       ...
22444 2015-12-22         1
22686 2015-12-27         1
22743 2015-12-28         1
22806 2015-12-29         1
22906 2015-12-31         3

[186 rows x 2 columns]

16:49:59 - cmdstanpy - INFO - Chain [1] start processing
16:49:59 - cmdstanpy - INFO - Chain [1] done processing
16:49:59 - cmdstanpy - INFO - Chain [1] start processing
16:49:59 - cmdstanpy - INFO - Chain [1] done processing

      order_date  quantity
12    2015-01-01         1
83    2015-01-02         2
149   2015-01-03         1
204   2015-01-04         2
270   2015-01-05         3
...          ...       ...
22634 2015-12-26         1
22745 2015-12-28         2
22807 2015-12-29         1
22853 2015-12-30         1
22907 2015-12-31         2

[261 rows x 2 columns]
      order_date  quantity
13    2015-01-01         7
84    2015-01-02         7
150   2015-01-03         1
205   2015-01-04         3
271   2015-01-05         4
...          ...       ...
22688 2015-12-27         6
22746 2015-12-28         3
22808 2015-12-29         1
22854 2015-12-30         3
22908 2015-12-31         5

[352 rows x 2 columns]

16:49:59 - cmdstanpy - INFO - Chain [1] start processing
16:49:59 - cmdstanpy - INFO - Chain [1] done processing
16:49:59 - cmdstanpy - INFO - Chain [1] start processing
16:49:59 - cmdstanpy - INFO - Chain [1] done processing

      order_date  quantity
14    2015-01-01         2
85    2015-01-02         4
151   2015-01-03         2
206   2015-01-04         3
272   2015-01-05         2
...          ...       ...
22636 2015-12-26         1
22689 2015-12-27         2
22747 2015-12-28         4
22809 2015-12-29         1
22909 2015-12-31         3

[310 rows x 2 columns]
      order_date  quantity
15    2015-01-01         7
86    2015-01-02         5
152   2015-01-03         5
207   2015-01-04         7
273   2015-01-05         6
...          ...       ...
22690 2015-12-27         2
22748 2015-12-28         2
22810 2015-12-29         3
22855 2015-12-30         1
22910 2015-12-31         5

[346 rows x 2 columns]

16:50:00 - cmdstanpy - INFO - Chain [1] start processing
16:50:00 - cmdstanpy - INFO - Chain [1] done processing
16:50:00 - cmdstanpy - INFO - Chain [1] start processing
16:50:00 - cmdstanpy - INFO - Chain [1] done processing

      order_date  quantity
16    2015-01-01         3
87    2015-01-02         5
153   2015-01-03         2
208   2015-01-04         3
274   2015-01-05         4
...          ...       ...
22691 2015-12-27         3
22749 2015-12-28         4
22811 2015-12-29         3
22856 2015-12-30         4
22911 2015-12-31         6

[352 rows x 2 columns]
      order_date  quantity
17    2015-01-01         3
88    2015-01-02         1
154   2015-01-03         2
209   2015-01-04         3
346   2015-01-06         5
...          ...       ...
22451 2015-12-22         2
22576 2015-12-24         2
22692 2015-12-27         1
22857 2015-12-30         1
22912 2015-12-31         3

[284 rows x 2 columns]

16:50:00 - cmdstanpy - INFO - Chain [1] start processing
16:50:00 - cmdstanpy - INFO - Chain [1] done processing
16:50:00 - cmdstanpy - INFO - Chain [1] start processing

      order_date  quantity
18    2015-01-01         1
988   2015-01-16         1
1114  2015-01-18         1
1180  2015-01-19         1
2142  2015-02-03         1
...          ...       ...
22059 2015-12-16         1
22189 2015-12-18         1
22452 2015-12-22         2
22577 2015-12-24         1
22639 2015-12-26         1

[82 rows x 2 columns]

16:50:00 - cmdstanpy - INFO - Chain [1] done processing
16:50:00 - cmdstanpy - INFO - Chain [1] start processing
16:50:00 - cmdstanpy - INFO - Chain [1] done processing

      order_date  quantity
19    2015-01-01         1
89    2015-01-02         1
210   2015-01-04         1
347   2015-01-06         2
413   2015-01-07         2
...          ...       ...
22258 2015-12-19         1
22453 2015-12-22         3
22578 2015-12-24         1
22750 2015-12-28         1
22913 2015-12-31         1

[203 rows x 2 columns]
      order_date  quantity
20    2015-01-01         5
90    2015-01-02         2
155   2015-01-03         3
211   2015-01-04         3
275   2015-01-05         1
...          ...       ...
22693 2015-12-27         1
22751 2015-12-28         2
22812 2015-12-29         1
22858 2015-12-30         2
22914 2015-12-31         1

[298 rows x 2 columns]

16:50:00 - cmdstanpy - INFO - Chain [1] start processing
16:50:01 - cmdstanpy - INFO - Chain [1] done processing
16:50:01 - cmdstanpy - INFO - Chain [1] start processing
16:50:01 - cmdstanpy - INFO - Chain [1] done processing

      order_date  quantity
21    2015-01-01         1
91    2015-01-02         2
156   2015-01-03         2
212   2015-01-04         3
276   2015-01-05         3
...          ...       ...
22694 2015-12-27         1
22752 2015-12-28         1
22813 2015-12-29         2
22859 2015-12-30         1
22915 2015-12-31         2

[333 rows x 2 columns]
      order_date  quantity
22    2015-01-01         1
92    2015-01-02         1
213   2015-01-04         1
277   2015-01-05         2
349   2015-01-06         1
...          ...       ...
22512 2015-12-23         1
22581 2015-12-24         1
22642 2015-12-26         1
22695 2015-12-27         1
22753 2015-12-28         3

[270 rows x 2 columns]

16:50:01 - cmdstanpy - INFO - Chain [1] start processing
16:50:01 - cmdstanpy - INFO - Chain [1] done processing
16:50:01 - cmdstanpy - INFO - Chain [1] start processing
16:50:01 - cmdstanpy - INFO - Chain [1] done processing

      order_date  quantity
23    2015-01-01         2
93    2015-01-02         4
157   2015-01-03         4
214   2015-01-04         2
278   2015-01-05         2
...          ...       ...
22696 2015-12-27         3
22754 2015-12-28         3
22814 2015-12-29         2
22860 2015-12-30         4
22916 2015-12-31         2

[335 rows x 2 columns]

16:50:01 - cmdstanpy - INFO - Chain [1] start processing
16:50:01 - cmdstanpy - INFO - Chain [1] done processing

      order_date  quantity
24    2015-01-01         5
94    2015-01-02         2
158   2015-01-03         1
215   2015-01-04         1
279   2015-01-05         2
...          ...       ...
22644 2015-12-26         2
22697 2015-12-27         1
22755 2015-12-28         1
22815 2015-12-29         1
22917 2015-12-31         1

[311 rows x 2 columns]
      order_date  quantity
25    2015-01-01         3
95    2015-01-02         2
216   2015-01-04         1
280   2015-01-05         2
352   2015-01-06         5
...          ...       ...
22698 2015-12-27         1
22756 2015-12-28         3
22816 2015-12-29         2
22861 2015-12-30         2
22918 2015-12-31         4

[236 rows x 2 columns]

16:50:01 - cmdstanpy - INFO - Chain [1] start processing
16:50:01 - cmdstanpy - INFO - Chain [1] done processing
16:50:02 - cmdstanpy - INFO - Chain [1] start processing
16:50:02 - cmdstanpy - INFO - Chain [1] done processing

      order_date  quantity
26    2015-01-01         6
97    2015-01-02         5
218   2015-01-04         1
282   2015-01-05         2
353   2015-01-06         2
...          ...       ...
22700 2015-12-27         1
22757 2015-12-28         3
22817 2015-12-29         1
22863 2015-12-30         1
22920 2015-12-31         2

[306 rows x 2 columns]
      order_date  quantity
27    2015-01-01         8
98    2015-01-02         3
160   2015-01-03         4
219   2015-01-04         1
283   2015-01-05         2
...          ...       ...
22585 2015-12-24         1
22647 2015-12-26         1
22818 2015-12-29         2
22864 2015-12-30         2
22921 2015-12-31         4

[334 rows x 2 columns]

16:50:02 - cmdstanpy - INFO - Chain [1] start processing
16:50:02 - cmdstanpy - INFO - Chain [1] done processing
16:50:02 - cmdstanpy - INFO - Chain [1] start processing
16:50:02 - cmdstanpy - INFO - Chain [1] done processing

      order_date  quantity
28    2015-01-01         1
284   2015-01-05         1
355   2015-01-06         2
491   2015-01-08         1
692   2015-01-11         2
...          ...       ...
22331 2015-12-20         1
22518 2015-12-23         1
22586 2015-12-24         1
22701 2015-12-27         1
22865 2015-12-30         1

[148 rows x 2 columns]
      order_date  quantity
29    2015-01-01         2
100   2015-01-02         2
161   2015-01-03         1
494   2015-01-08         1
557   2015-01-09         1
...          ...       ...
22395 2015-12-21         2
22462 2015-12-22         1
22521 2015-12-23         1
22759 2015-12-28         1
22868 2015-12-30         1

[216 rows x 2 columns]

16:50:02 - cmdstanpy - INFO - Chain [1] start processing
16:50:02 - cmdstanpy - INFO - Chain [1] done processing
16:50:02 - cmdstanpy - INFO - Chain [1] start processing
16:50:02 - cmdstanpy - INFO - Chain [1] done processing

      order_date  quantity
30    2015-01-01         1
162   2015-01-03         3
287   2015-01-05         2
358   2015-01-06         2
558   2015-01-09         2
...          ...       ...
22267 2015-12-19         2
22334 2015-12-20         2
22463 2015-12-22         2
22588 2015-12-24         4
22869 2015-12-30         1

[225 rows x 2 columns]
      order_date  quantity
31    2015-01-01         2
288   2015-01-05         2
423   2015-01-07         1
559   2015-01-09         2
624   2015-01-10         1
...          ...       ...
22522 2015-12-23         3
22589 2015-12-24         2
22649 2015-12-26         1
22819 2015-12-29         1
22924 2015-12-31         3

[183 rows x 2 columns]

16:50:02 - cmdstanpy - INFO - Chain [1] start processing
16:50:02 - cmdstanpy - INFO - Chain [1] done processing
16:50:02 - cmdstanpy - INFO - Chain [1] start processing
16:50:03 - cmdstanpy - INFO - Chain [1] done processing

      order_date  quantity
32    2015-01-01         6
101   2015-01-02         4
222   2015-01-04         2
290   2015-01-05         2
360   2015-01-06         5
...          ...       ...
22650 2015-12-26         3
22702 2015-12-27         1
22760 2015-12-28         1
22870 2015-12-30         2
22926 2015-12-31         4

[315 rows x 2 columns]
      order_date  quantity
33    2015-01-01         2
102   2015-01-02         1
163   2015-01-03         1
361   2015-01-06         1
426   2015-01-07         2
...          ...       ...
22466 2015-12-22         1
22592 2015-12-24         1
22703 2015-12-27         1
22761 2015-12-28         1
22927 2015-12-31         3

[259 rows x 2 columns]

16:50:03 - cmdstanpy - INFO - Chain [1] start processing
16:50:03 - cmdstanpy - INFO - Chain [1] done processing
16:50:03 - cmdstanpy - INFO - Chain [1] start processing
16:50:03 - cmdstanpy - INFO - Chain [1] done processing

      order_date  quantity
34    2015-01-01         1
103   2015-01-02         1
498   2015-01-08         1
760   2015-01-12         1
935   2015-01-15         1
...          ...       ...
22077 2015-12-16         1
22272 2015-12-19         1
22400 2015-12-21         1
22525 2015-12-23         1
22704 2015-12-27         1

[125 rows x 2 columns]
      order_date  quantity
35    2015-01-01         1
104   2015-01-02         2
223   2015-01-04         1
427   2015-01-07         1
499   2015-01-08         3
...          ...       ...
22705 2015-12-27         1
22762 2015-12-28         1
22820 2015-12-29         3
22871 2015-12-30         1
22928 2015-12-31         2

[282 rows x 2 columns]

16:50:03 - cmdstanpy - INFO - Chain [1] start processing
16:50:03 - cmdstanpy - INFO - Chain [1] done processing
16:50:03 - cmdstanpy - INFO - Chain [1] start processing
16:50:03 - cmdstanpy - INFO - Chain [1] done processing

      order_date  quantity
36    2015-01-01         1
106   2015-01-02         1
225   2015-01-04         5
291   2015-01-05         1
363   2015-01-06         3
...          ...       ...
22652 2015-12-26         1
22706 2015-12-27         2
22764 2015-12-28         2
22821 2015-12-29         1
22930 2015-12-31         4

[255 rows x 2 columns]
      order_date  quantity
37    2015-01-01         2
107   2015-01-02         1
165   2015-01-03         1
292   2015-01-05         2
364   2015-01-06         1
...          ...       ...
22594 2015-12-24         1
22653 2015-12-26         1
22822 2015-12-29         2
22872 2015-12-30         2
22931 2015-12-31         1

[226 rows x 2 columns]

16:50:03 - cmdstanpy - INFO - Chain [1] start processing
16:50:03 - cmdstanpy - INFO - Chain [1] done processing
16:50:04 - cmdstanpy - INFO - Chain [1] start processing
16:50:04 - cmdstanpy - INFO - Chain [1] done processing

      order_date  quantity
38    2015-01-01         1
365   2015-01-06         5
429   2015-01-07         1
503   2015-01-08         1
631   2015-01-10         4
...          ...       ...
22528 2015-12-23         2
22595 2015-12-24         2
22707 2015-12-27         1
22765 2015-12-28         1
22932 2015-12-31         3

[223 rows x 2 columns]
      order_date  quantity
39    2015-01-01         3
108   2015-01-02         2
166   2015-01-03         1
226   2015-01-04         2
293   2015-01-05         2
...          ...       ...
22596 2015-12-24         1
22654 2015-12-26         1
22708 2015-12-27         1
22766 2015-12-28         1
22933 2015-12-31         1

[292 rows x 2 columns]

16:50:04 - cmdstanpy - INFO - Chain [1] start processing
16:50:04 - cmdstanpy - INFO - Chain [1] done processing
16:50:04 - cmdstanpy - INFO - Chain [1] start processing
16:50:04 - cmdstanpy - INFO - Chain [1] done processing

      order_date  quantity
40    2015-01-01         2
167   2015-01-03         3
227   2015-01-04         4
294   2015-01-05         3
367   2015-01-06         1
...          ...       ...
22655 2015-12-26         1
22767 2015-12-28         2
22823 2015-12-29         1
22873 2015-12-30         2
22934 2015-12-31         3

[307 rows x 2 columns]
      order_date  quantity
41    2015-01-01         3
109   2015-01-02         3
168   2015-01-03         3
228   2015-01-04         2
295   2015-01-05         4
...          ...       ...
22709 2015-12-27         1
22768 2015-12-28         1
22824 2015-12-29         1
22874 2015-12-30         1
22935 2015-12-31         4

[336 rows x 2 columns]

16:50:04 - cmdstanpy - INFO - Chain [1] start processing
16:50:04 - cmdstanpy - INFO - Chain [1] done processing
16:50:04 - cmdstanpy - INFO - Chain [1] start processing
16:50:04 - cmdstanpy - INFO - Chain [1] done processing

      order_date  quantity
42    2015-01-01         1
110   2015-01-02         7
169   2015-01-03         2
229   2015-01-04         3
296   2015-01-05         3
...          ...       ...
22599 2015-12-24         2
22710 2015-12-27         1
22769 2015-12-28         1
22825 2015-12-29         3
22936 2015-12-31         3

[307 rows x 2 columns]
      order_date  quantity
43    2015-01-01         1
111   2015-01-02         3
170   2015-01-03         1
230   2015-01-04         1
297   2015-01-05         4
...          ...       ...
22533 2015-12-23         2
22600 2015-12-24         1
22657 2015-12-26         1
22826 2015-12-29         2
22937 2015-12-31         1

[304 rows x 2 columns]

16:50:04 - cmdstanpy - INFO - Chain [1] start processing
16:50:04 - cmdstanpy - INFO - Chain [1] done processing
16:50:05 - cmdstanpy - INFO - Chain [1] start processing
16:50:05 - cmdstanpy - INFO - Chain [1] done processing

      order_date  quantity
44    2015-01-01         1
112   2015-01-02         2
171   2015-01-03         2
231   2015-01-04         1
298   2015-01-05         1
...          ...       ...
22658 2015-12-26         1
22711 2015-12-27         3
22770 2015-12-28         1
22875 2015-12-30         1
22938 2015-12-31         2

[260 rows x 2 columns]
      order_date  quantity
45    2015-01-01         2
113   2015-01-02         1
232   2015-01-04         1
299   2015-01-05         2
372   2015-01-06         1
...          ...       ...
22411 2015-12-21         1
22473 2015-12-22         1
22534 2015-12-23         1
22771 2015-12-28         1
22939 2015-12-31         4

[220 rows x 2 columns]

16:50:05 - cmdstanpy - INFO - Chain [1] start processing
16:50:05 - cmdstanpy - INFO - Chain [1] done processing
16:50:05 - cmdstanpy - INFO - Chain [1] start processing
16:50:05 - cmdstanpy - INFO - Chain [1] done processing

      order_date  quantity
46    2015-01-01         2
114   2015-01-02         2
300   2015-01-05         3
373   2015-01-06         1
437   2015-01-07         4
...          ...       ...
22345 2015-12-20         2
22474 2015-12-22         1
22535 2015-12-23         1
22602 2015-12-24         1
22659 2015-12-26         2

[251 rows x 2 columns]
      order_date  quantity
47    2015-01-01         1
115   2015-01-02         2
233   2015-01-04         4
301   2015-01-05         1
374   2015-01-06         2
...          ...       ...
22536 2015-12-23         3
22772 2015-12-28         3
22827 2015-12-29         2
22876 2015-12-30         2
22940 2015-12-31         4

[287 rows x 2 columns]

16:50:05 - cmdstanpy - INFO - Chain [1] start processing
16:50:05 - cmdstanpy - INFO - Chain [1] done processing
16:50:05 - cmdstanpy - INFO - Chain [1] start processing
16:50:05 - cmdstanpy - INFO - Chain [1] done processing

      order_date  quantity
48    2015-01-01         1
116   2015-01-02         2
172   2015-01-03         1
302   2015-01-05         1
512   2015-01-08         4
...          ...       ...
22660 2015-12-26         1
22712 2015-12-27         1
22773 2015-12-28         2
22828 2015-12-29         1
22941 2015-12-31         1

[253 rows x 2 columns]
      order_date  quantity
49    2015-01-01         2
117   2015-01-02         3
173   2015-01-03         1
234   2015-01-04         3
303   2015-01-05         2
...          ...       ...
22661 2015-12-26         1
22713 2015-12-27         2
22774 2015-12-28         3
22829 2015-12-29         1
22942 2015-12-31         4

[296 rows x 2 columns]

16:50:05 - cmdstanpy - INFO - Chain [1] start processing
16:50:05 - cmdstanpy - INFO - Chain [1] done processing
16:50:06 - cmdstanpy - INFO - Chain [1] start processing
16:50:06 - cmdstanpy - INFO - Chain [1] done processing

      order_date  quantity
50    2015-01-01         1
118   2015-01-02         1
174   2015-01-03         1
235   2015-01-04         5
304   2015-01-05         1
...          ...       ...
22414 2015-12-21         2
22538 2015-12-23         1
22605 2015-12-24         3
22714 2015-12-27         2
22830 2015-12-29         1

[285 rows x 2 columns]
      order_date  quantity
51    2015-01-01         1
119   2015-01-02         1
305   2015-01-05         2
377   2015-01-06         3
440   2015-01-07         1
...          ...       ...
22539 2015-12-23         3
22606 2015-12-24         1
22662 2015-12-26         1
22775 2015-12-28         1
22943 2015-12-31         1

[311 rows x 2 columns]

16:50:06 - cmdstanpy - INFO - Chain [1] start processing
16:50:06 - cmdstanpy - INFO - Chain [1] done processing
16:50:06 - cmdstanpy - INFO - Chain [1] start processing
16:50:06 - cmdstanpy - INFO - Chain [1] done processing

      order_date  quantity
52    2015-01-01         1
120   2015-01-02         2
236   2015-01-04         3
378   2015-01-06         3
441   2015-01-07         1
...          ...       ...
22223 2015-12-18         1
22540 2015-12-23         1
22776 2015-12-28         2
22831 2015-12-29         2
22944 2015-12-31         2

[240 rows x 2 columns]
      order_date  quantity
53    2015-01-01         4
122   2015-01-02         5
175   2015-01-03         5
239   2015-01-04         6
306   2015-01-05         3
...          ...       ...
22716 2015-12-27         1
22779 2015-12-28         2
22833 2015-12-29         1
22878 2015-12-30         3
22946 2015-12-31         3

[333 rows x 2 columns]

16:50:06 - cmdstanpy - INFO - Chain [1] start processing
16:50:06 - cmdstanpy - INFO - Chain [1] done processing
16:50:06 - cmdstanpy - INFO - Chain [1] start processing
16:50:06 - cmdstanpy - INFO - Chain [1] done processing

      order_date  quantity
54    2015-01-01         1
123   2015-01-02         2
176   2015-01-03         2
240   2015-01-04         1
307   2015-01-05         3
...          ...       ...
22663 2015-12-26         1
22717 2015-12-27         1
22780 2015-12-28         1
22879 2015-12-30         3
22947 2015-12-31         2

[288 rows x 2 columns]
      order_date  quantity
55    2015-01-01         2
124   2015-01-02         2
177   2015-01-03         2
241   2015-01-04         3
580   2015-01-09         3
...          ...       ...
22227 2015-12-18         1
22289 2015-12-19         1
22419 2015-12-21         1
22664 2015-12-26         1
22880 2015-12-30         1

[225 rows x 2 columns]

16:50:06 - cmdstanpy - INFO - Chain [1] start processing
16:50:06 - cmdstanpy - INFO - Chain [1] done processing
16:50:07 - cmdstanpy - INFO - Chain [1] start processing
16:50:07 - cmdstanpy - INFO - Chain [1] done processing

      order_date  quantity
56    2015-01-01         4
125   2015-01-02         4
178   2015-01-03         2
242   2015-01-04         4
308   2015-01-05         1
...          ...       ...
22665 2015-12-26         2
22718 2015-12-27         2
22781 2015-12-28         1
22834 2015-12-29         2
22948 2015-12-31         7

[342 rows x 2 columns]
      order_date  quantity
57    2015-01-01         1
127   2015-01-02         3
180   2015-01-03         1
309   2015-01-05         4
384   2015-01-06         3
...          ...       ...
22611 2015-12-24         2
22720 2015-12-27         1
22835 2015-12-29         1
22882 2015-12-30         1
22949 2015-12-31         2

[246 rows x 2 columns]

16:50:07 - cmdstanpy - INFO - Chain [1] start processing
16:50:07 - cmdstanpy - INFO - Chain [1] done processing
16:50:07 - cmdstanpy - INFO - Chain [1] start processing
16:50:07 - cmdstanpy - INFO - Chain [1] done processing

      order_date  quantity
58    2015-01-01         1
128   2015-01-02         3
310   2015-01-05         1
652   2015-01-10         1
899   2015-01-14         3
...          ...       ...
22612 2015-12-24         1
22721 2015-12-27         1
22836 2015-12-29         2
22883 2015-12-30         1
22950 2015-12-31         2

[194 rows x 2 columns]
      order_date  quantity
59    2015-01-01         1
129   2015-01-02         2
182   2015-01-03         2
243   2015-01-04         4
385   2015-01-06         2
...          ...       ...
22613 2015-12-24         1
22666 2015-12-26         1
22723 2015-12-27         1
22784 2015-12-28         1
22952 2015-12-31         2

[234 rows x 2 columns]

16:50:07 - cmdstanpy - INFO - Chain [1] start processing
16:50:07 - cmdstanpy - INFO - Chain [1] done processing
16:50:07 - cmdstanpy - INFO - Chain [1] start processing
16:50:07 - cmdstanpy - INFO - Chain [1] done processing

      order_date  quantity
60    2015-01-01         2
183   2015-01-03         2
312   2015-01-05         1
386   2015-01-06         4
522   2015-01-08         2
...          ...       ...
22549 2015-12-23         1
22614 2015-12-24         2
22667 2015-12-26         1
22838 2015-12-29         1
22953 2015-12-31         1

[264 rows x 2 columns]
      order_date  quantity
61    2015-01-01         3
246   2015-01-04         1
315   2015-01-05         2
389   2015-01-06         2
453   2015-01-07         1
...          ...       ...
22616 2015-12-24         3
22670 2015-12-26         2
22788 2015-12-28         1
22887 2015-12-30         1
22956 2015-12-31         2

[177 rows x 2 columns]

16:50:07 - cmdstanpy - INFO - Chain [1] start processing
16:50:07 - cmdstanpy - INFO - Chain [1] done processing
16:50:08 - cmdstanpy - INFO - Chain [1] start processing
16:50:08 - cmdstanpy - INFO - Chain [1] done processing

      order_date  quantity
62    2015-01-01         2
133   2015-01-02         1
247   2015-01-04         2
316   2015-01-05         2
454   2015-01-07         3
...          ...       ...
22032 2015-12-15         1
22235 2015-12-18         2
22297 2015-12-19         1
22488 2015-12-22         1
22725 2015-12-27         1

[238 rows x 2 columns]
      order_date  quantity
63    2015-01-01         6
134   2015-01-02         6
186   2015-01-03         2
248   2015-01-04         2
317   2015-01-05         5
...          ...       ...
22726 2015-12-27         4
22789 2015-12-28         3
22839 2015-12-29         3
22888 2015-12-30         2
22957 2015-12-31         1

[351 rows x 2 columns]

16:50:08 - cmdstanpy - INFO - Chain [1] start processing
16:50:08 - cmdstanpy - INFO - Chain [1] done processing
16:50:08 - cmdstanpy - INFO - Chain [1] start processing
16:50:08 - cmdstanpy - INFO - Chain [1] done processing

      order_date  quantity
64    2015-01-01         2
135   2015-01-02         1
249   2015-01-04         1
318   2015-01-05         3
391   2015-01-06         1
...          ...       ...
22672 2015-12-26         3
22727 2015-12-27         1
22790 2015-12-28         1
22840 2015-12-29         1
22958 2015-12-31         2

[273 rows x 2 columns]
      order_date  quantity
65    2015-01-01         4
189   2015-01-03         1
251   2015-01-04         2
322   2015-01-05         1
663   2015-01-10         1
...          ...       ...
22492 2015-12-22         1
22556 2015-12-23         2
22620 2015-12-24         2
22729 2015-12-27         2
22842 2015-12-29         1

[215 rows x 2 columns]

16:50:08 - cmdstanpy - INFO - Chain [1] start processing
16:50:08 - cmdstanpy - INFO - Chain [1] done processing
16:50:08 - cmdstanpy - INFO - Chain [1] start processing
16:50:08 - cmdstanpy - INFO - Chain [1] done processing

      order_date  quantity
66    2015-01-01         1
139   2015-01-02         2
190   2015-01-03         1
252   2015-01-04         2
323   2015-01-05         1
...          ...       ...
22675 2015-12-26         3
22793 2015-12-28         1
22843 2015-12-29         1
22891 2015-12-30         1
22960 2015-12-31         1

[267 rows x 2 columns]
      order_date  quantity
67    2015-01-01         1
140   2015-01-02         1
191   2015-01-03         3
324   2015-01-05         2
395   2015-01-06         1
...          ...       ...
22676 2015-12-26         1
22730 2015-12-27         2
22794 2015-12-28         1
22844 2015-12-29         1
22961 2015-12-31         4

[251 rows x 2 columns]

16:50:08 - cmdstanpy - INFO - Chain [1] start processing
16:50:08 - cmdstanpy - INFO - Chain [1] done processing
16:50:08 - cmdstanpy - INFO - Chain [1] start processing
16:50:09 - cmdstanpy - INFO - Chain [1] done processing

      order_date  quantity
68    2015-01-01         2
193   2015-01-03         2
254   2015-01-04         3
326   2015-01-05         2
397   2015-01-06         2
...          ...       ...
22623 2015-12-24         1
22732 2015-12-27         3
22796 2015-12-28         1
22893 2015-12-30         4
22963 2015-12-31         4

[253 rows x 2 columns]
      order_date  quantity
73    2015-01-02         3
143   2015-01-03         1
259   2015-01-05         1
331   2015-01-06         4
464   2015-01-08         1
...          ...       ...
22627 2015-12-26         1
22681 2015-12-27         1
22736 2015-12-28         1
22800 2015-12-29         1
22898 2015-12-31         2

[262 rows x 2 columns]

16:50:09 - cmdstanpy - INFO - Chain [1] start processing
16:50:09 - cmdstanpy - INFO - Chain [1] done processing
16:50:09 - cmdstanpy - INFO - Chain [1] start processing
16:50:09 - cmdstanpy - INFO - Chain [1] done processing

      order_date  quantity
74    2015-01-02         2
196   2015-01-04         1
260   2015-01-05         1
332   2015-01-06         2
401   2015-01-07         1
...          ...       ...
22373 2015-12-21         1
22437 2015-12-22         2
22628 2015-12-26         2
22801 2015-12-29         2
22899 2015-12-31         2

[188 rows x 2 columns]
      order_date  quantity
79    2015-01-02         2
266   2015-01-05         1
470   2015-01-08         1
1045  2015-01-17         1
1361  2015-01-22         1
...          ...       ...
21911 2015-12-14         1
22250 2015-12-19         1
22442 2015-12-22         1
22502 2015-12-23         1
22741 2015-12-28         1

[142 rows x 2 columns]

16:50:09 - cmdstanpy - INFO - Chain [1] start processing
16:50:09 - cmdstanpy - INFO - Chain [1] done processing
16:50:09 - cmdstanpy - INFO - Chain [1] start processing
16:50:09 - cmdstanpy - INFO - Chain [1] done processing

      order_date  quantity
82    2015-01-02         1
340   2015-01-06         1
406   2015-01-07         1
475   2015-01-08         2
606   2015-01-10         1
...          ...       ...
22445 2015-12-22         2
22505 2015-12-23         1
22570 2015-12-24         2
22687 2015-12-27         1
22744 2015-12-28         2

[203 rows x 2 columns]
      order_date  quantity
96    2015-01-02         1
159   2015-01-03         2
217   2015-01-04         2
281   2015-01-05         1
488   2015-01-08         2
...          ...       ...
22584 2015-12-24         1
22645 2015-12-26         1
22699 2015-12-27         1
22862 2015-12-30         1
22919 2015-12-31         4

[206 rows x 2 columns]

16:50:09 - cmdstanpy - INFO - Chain [1] start processing
16:50:09 - cmdstanpy - INFO - Chain [1] done processing
16:50:09 - cmdstanpy - INFO - Chain [1] start processing
16:50:09 - cmdstanpy - INFO - Chain [1] done processing

      order_date  quantity
99    2015-01-02         2
220   2015-01-04         2
286   2015-01-05         3
357   2015-01-06         2
422   2015-01-07         2
...          ...       ...
22520 2015-12-23         1
22587 2015-12-24         2
22758 2015-12-28         1
22867 2015-12-30         2
22923 2015-12-31         1

[263 rows x 2 columns]
      order_date  quantity
105   2015-01-02         4
164   2015-01-03         1
224   2015-01-04         1
362   2015-01-06         1
500   2015-01-08         1
...          ...       ...
22467 2015-12-22         1
22527 2015-12-23         1
22651 2015-12-26         1
22763 2015-12-28         1
22929 2015-12-31         1

[268 rows x 2 columns]

16:50:10 - cmdstanpy - INFO - Chain [1] start processing
16:50:10 - cmdstanpy - INFO - Chain [1] done processing
16:50:10 - cmdstanpy - INFO - Chain [1] start processing
16:50:10 - cmdstanpy - INFO - Chain [1] done processing

      order_date  quantity
121   2015-01-02         1
237   2015-01-04         1
379   2015-01-06         1
577   2015-01-09         1
645   2015-01-10         1
...          ...       ...
22285 2015-12-19         1
22479 2015-12-22         2
22777 2015-12-28         1
22832 2015-12-29         1
22877 2015-12-30         1

[196 rows x 2 columns]
      order_date  quantity
126   2015-01-02         2
179   2015-01-03         1
383   2015-01-06         1
446   2015-01-07         1
518   2015-01-08         1
...          ...       ...
22545 2015-12-23         2
22610 2015-12-24         1
22719 2015-12-27         1
22782 2015-12-28         1
22881 2015-12-30         1

[232 rows x 2 columns]

16:50:10 - cmdstanpy - INFO - Chain [1] start processing
16:50:10 - cmdstanpy - INFO - Chain [1] done processing
16:50:10 - cmdstanpy - INFO - Chain [1] start processing
16:50:10 - cmdstanpy - INFO - Chain [1] done processing

      order_date  quantity
130   2015-01-02         2
184   2015-01-03         2
313   2015-01-05         3
387   2015-01-06         3
450   2015-01-07         2
...          ...       ...
22668 2015-12-26         1
22724 2015-12-27         1
22785 2015-12-28         2
22885 2015-12-30         1
22954 2015-12-31         1

[281 rows x 2 columns]
      order_date  quantity
131   2015-01-02         2
185   2015-01-03         1
244   2015-01-04         1
314   2015-01-05         1
451   2015-01-07         1
...          ...       ...
22425 2015-12-21         1
22551 2015-12-23         1
22669 2015-12-26         1
22786 2015-12-28         1
22955 2015-12-31         3

[248 rows x 2 columns]

16:50:10 - cmdstanpy - INFO - Chain [1] start processing
16:50:10 - cmdstanpy - INFO - Chain [1] done processing
16:50:11 - cmdstanpy - INFO - Chain [1] start processing
16:50:11 - cmdstanpy - INFO - Chain [1] done processing

      order_date  quantity
132   2015-01-02         2
245   2015-01-04         3
388   2015-01-06         2
452   2015-01-07         1
587   2015-01-09         1
...          ...       ...
22234 2015-12-18         3
22357 2015-12-20         2
22426 2015-12-21         1
22787 2015-12-28         1
22886 2015-12-30         1

[189 rows x 2 columns]
      order_date  quantity
136   2015-01-02         1
187   2015-01-03         2
319   2015-01-05         2
392   2015-01-06         2
590   2015-01-09         2
...          ...       ...
22553 2015-12-23         1
22673 2015-12-26         1
22791 2015-12-28         2
22841 2015-12-29         1
22889 2015-12-30         1

[264 rows x 2 columns]

16:50:11 - cmdstanpy - INFO - Chain [1] start processing
16:50:11 - cmdstanpy - INFO - Chain [1] done processing
16:50:11 - cmdstanpy - INFO - Chain [1] start processing
16:50:11 - cmdstanpy - INFO - Chain [1] done processing

      order_date  quantity
137   2015-01-02         1
320   2015-01-05         1
393   2015-01-06         1
457   2015-01-07         3
527   2015-01-08         1
...          ...       ...
22491 2015-12-22         1
22554 2015-12-23         1
22674 2015-12-26         1
22728 2015-12-27         1
22959 2015-12-31         1

[184 rows x 2 columns]
      order_date  quantity
138   2015-01-02         1
188   2015-01-03         1
250   2015-01-04         2
321   2015-01-05         2
458   2015-01-07         1
...          ...       ...
22431 2015-12-21         2
22555 2015-12-23         1
22619 2015-12-24         1
22792 2015-12-28         1
22890 2015-12-30         1

[200 rows x 2 columns]

16:50:11 - cmdstanpy - INFO - Chain [1] start processing
16:50:11 - cmdstanpy - INFO - Chain [1] done processing
16:50:11 - cmdstanpy - INFO - Chain [1] start processing
16:50:11 - cmdstanpy - INFO - Chain [1] done processing

      order_date  quantity
181   2015-01-03         1
311   2015-01-05         1
448   2015-01-07         1
520   2015-01-08         1
582   2015-01-09         1
...          ...       ...
22722 2015-12-27         1
22783 2015-12-28         1
22837 2015-12-29         2
22884 2015-12-30         1
22951 2015-12-31         1

[200 rows x 2 columns]
      order_date  quantity
192   2015-01-03         1
253   2015-01-04         2
325   2015-01-05         2
396   2015-01-06         2
460   2015-01-07         2
...          ...       ...
22677 2015-12-26         2
22731 2015-12-27         4
22795 2015-12-28         1
22892 2015-12-30         1
22962 2015-12-31         2

[292 rows x 2 columns]

16:50:11 - cmdstanpy - INFO - Chain [1] start processing
16:50:11 - cmdstanpy - INFO - Chain [1] done processing
16:50:12 - cmdstanpy - INFO - Chain [1] start processing
16:50:12 - cmdstanpy - INFO - Chain [1] done processing

      order_date  quantity
221   2015-01-04         1
289   2015-01-05         2
359   2015-01-06         4
424   2015-01-07         1
495   2015-01-08         1
...          ...       ...
22269 2015-12-19         2
22397 2015-12-21         3
22523 2015-12-23         1
22590 2015-12-24         2
22925 2015-12-31         2

[188 rows x 2 columns]
      order_date  quantity
238   2015-01-04         2
442   2015-01-07         2
578   2015-01-09         1
646   2015-01-10         1
775   2015-01-12         2
...          ...       ...
22416 2015-12-21         2
22541 2015-12-23         1
22715 2015-12-27         1
22778 2015-12-28         2
22945 2015-12-31         1

[206 rows x 2 columns]

16:50:12 - cmdstanpy - INFO - Chain [1] start processing
16:50:12 - cmdstanpy - INFO - Chain [1] done processing
16:50:12 - cmdstanpy - INFO - Chain [1] start processing

      order_date  quantity
262   2015-01-05         1
334   2015-01-06         1
537   2015-01-09         1
601   2015-01-10         1
734   2015-01-12         1
...          ...       ...
21069 2015-11-30         1
21254 2015-12-03         1
21374 2015-12-05         2
21444 2015-12-06         1
22246 2015-12-19         1

[84 rows x 2 columns]

16:50:12 - cmdstanpy - INFO - Chain [1] done processing
16:50:12 - cmdstanpy - INFO - Chain [1] start processing
16:50:12 - cmdstanpy - INFO - Chain [1] done processing

      order_date  quantity
285   2015-01-05         1
356   2015-01-06         1
492   2015-01-08         1
556   2015-01-09         1
693   2015-01-11         1
...          ...       ...
22460 2015-12-22         1
22519 2015-12-23         1
22648 2015-12-26         1
22866 2015-12-30         1
22922 2015-12-31         1

[145 rows x 2 columns]
      order_date  quantity
1677  2015-01-26         1
1746  2015-01-27         1
2822  2015-02-13         1
3011  2015-02-16         1
3590  2015-02-25         1
4712  2015-03-14         1
4917  2015-03-17         1
5177  2015-03-21         1
6663  2015-04-13         1
7312  2015-04-23         1
8352  2015-05-11         1
9120  2015-05-23         1
9611  2015-05-31         1
10754 2015-06-18         1
10944 2015-06-21         1
11843 2015-07-05         1
15107 2015-08-25         1
16881 2015-09-22         1
16944 2015-09-23         1
17204 2015-09-29         1
17536 2015-10-04         1
17932 2015-10-10         1
18789 2015-10-24         1
19692 2015-11-08         1
20257 2015-11-17         1
20390 2015-11-19         1
21365 2015-12-04         1
22364 2015-12-20         1

In [176]:
forecast_df

,bbq_ckn_l,bbq_ckn_m,bbq_ckn_s,big_meat_s,calabrese_m,cali_ckn_l,cali_ckn_m,cali_ckn_s,ckn_alfredo_m,ckn_alfredo_s,...,thai_ckn_s,the_greek_l,the_greek_m,spin_pesto_m,veggie_veg_m,mediterraneo_s,soppressata_s,calabrese_s,ital_veggie_l,the_greek_xxl
ds,,,,,,,,,,,,,,,,,,,,,
2015-12-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.038039,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-12-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.089411,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.071836,NaN,NaN
2015-12-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.231009,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.317575,NaN,1.0
2015-12-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.326629,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.244534,NaN,1.0
2015-12-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.081427,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.301316,NaN,1.0
2015-12-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.023417,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.338998,NaN,1.0
2015-12-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.955928,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.250218,NaN,1.0
2015-12-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.290797,NaN,1.0
2015-12-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2015-12-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-12-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-12-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.887878,NaN,1.433992,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-01,3.039892,3.523353,1.683330,5.712413,2.065241,3.418103,3.231436,2.254391,2.552646,NaN,...,1.892600,1.779655,1.370404,1.469654,2.282200,1.646629,1.534859,NaN,1.434963,NaN
2016-01-02,3.144230,2.726515,1.578059,5.764076,2.036299,2.758662,2.651827,1.690694,2.359060,NaN,...,1.926125,1.419702,1.414494,1.920842,2.215857,1.573285,1.393112,NaN,1.361787,NaN
2016-01-03,2.440990,2.739042,1.532595,5.018439,1.786695,2.664383,2.321365,1.816321,2.102049,NaN,...,1.723501,1.235302,1.529766,1.557803,1.900514,1.585760,1.499545,NaN,1.336318,NaN
2016-01-04,2.312898,2.692902,1.682236,5.218070,2.154261,2.667289,2.536999,1.774430,2.396977,NaN,...,2.159306,1.492343,1.476678,1.308941,1.901095,1.945472,1.467783,NaN,1.077965,NaN
2016-01-05,2.401410,2.783561,2.074992,5.227992,2.026799,2.801499,2.246670,1.697276,2.210475,NaN,...,1.977643,1.373973,1.497215,1.592111,1.709106,1.562072,1.378053,NaN,1.337172,NaN
2016-01-06,2.349312,2.890167,1.595415,5.270116,2.288133,2.972542,2.360583,1.745667,2.114530,NaN,...,1.672207,1.410401,1.395254,1.366078,2.081166,1.801363,1.285417,NaN,1.325906,NaN
2016-01-07,3.085276,3.097434,1.821236,5.564690,2.013199,2.810778,2.887367,1.731209,2.647292,NaN,...,NaN,1.328262,NaN,1.359490,2.263824,1.372730,1.382745,NaN,1.559471,NaN

In [178]:
forecast_df.reset_index(inplace=True)

In [185]:
drop_col = forecast_df.iloc[0:12]

In [186]:
drop_col

,ds,bbq_ckn_l,bbq_ckn_m,bbq_ckn_s,big_meat_s,calabrese_m,cali_ckn_l,cali_ckn_m,cali_ckn_s,ckn_alfredo_m,...,thai_ckn_s,the_greek_l,the_greek_m,spin_pesto_m,veggie_veg_m,mediterraneo_s,soppressata_s,calabrese_s,ital_veggie_l,the_greek_xxl
0,2015-12-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015-12-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.071836,NaN,NaN
2,2015-12-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.317575,NaN,1.0
3,2015-12-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.244534,NaN,1.0
4,2015-12-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.301316,NaN,1.0
5,2015-12-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.338998,NaN,1.0
6,2015-12-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.250218,NaN,1.0
7,2015-12-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.290797,NaN,1.0
8,2015-12-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
9,2015-12-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2015-12-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2015-12-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [190]:
forecast_df.drop(forecast_df.index[0:13], axis=0, inplace=True)

In [191]:
forecast_df

,ds,bbq_ckn_l,bbq_ckn_m,bbq_ckn_s,big_meat_s,calabrese_m,cali_ckn_l,cali_ckn_m,cali_ckn_s,ckn_alfredo_m,...,thai_ckn_s,the_greek_l,the_greek_m,spin_pesto_m,veggie_veg_m,mediterraneo_s,soppressata_s,calabrese_s,ital_veggie_l,the_greek_xxl
13,2016-01-01,3.039892,3.523353,1.683330,5.712413,2.065241,3.418103,3.231436,2.254391,2.552646,...,1.892600,1.779655,1.370404,1.469654,2.282200,1.646629,1.534859,NaN,1.434963,NaN
14,2016-01-02,3.144230,2.726515,1.578059,5.764076,2.036299,2.758662,2.651827,1.690694,2.359060,...,1.926125,1.419702,1.414494,1.920842,2.215857,1.573285,1.393112,NaN,1.361787,NaN
15,2016-01-03,2.440990,2.739042,1.532595,5.018439,1.786695,2.664383,2.321365,1.816321,2.102049,...,1.723501,1.235302,1.529766,1.557803,1.900514,1.585760,1.499545,NaN,1.336318,NaN
16,2016-01-04,2.312898,2.692902,1.682236,5.218070,2.154261,2.667289,2.536999,1.774430,2.396977,...,2.159306,1.492343,1.476678,1.308941,1.901095,1.945472,1.467783,NaN,1.077965,NaN
17,2016-01-05,2.401410,2.783561,2.074992,5.227992,2.026799,2.801499,2.246670,1.697276,2.210475,...,1.977643,1.373973,1.497215,1.592111,1.709106,1.562072,1.378053,NaN,1.337172,NaN
18,2016-01-06,2.349312,2.890167,1.595415,5.270116,2.288133,2.972542,2.360583,1.745667,2.114530,...,1.672207,1.410401,1.395254,1.366078,2.081166,1.801363,1.285417,NaN,1.325906,NaN
19,2016-01-07,3.085276,3.097434,1.821236,5.564690,2.013199,2.810778,2.887367,1.731209,2.647292,...,NaN,1.328262,NaN,1.359490,2.263824,1.372730,1.382745,NaN,1.559471,NaN